.tagTextField {
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    width: 10em;
    height: 2.5em;
    padding: 0 .5em;
    vertical-align: middle;
    color: inherit;
    border: 0;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none; /* Removes inner shadow on iOS. */
}