.Main {
    font-family: 'Alegreya', serif;
    font-size: 2em;
}

.Main .TagBox {
    /* Center the tag editor */
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}